.box    {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
.column {
    display: flex;
}
.button {
    height: 200px;
    width: 16%;
    padding: 5px;
    border-radius: 10px;
    border: 2.5px solid #c0c0c0;
    text-align: center;
    line-height: 150px;
}